.search  {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.wrapper {
  background-color: seashell;
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

#title {
  text-align: center;
  font-family: garamond, sans-serif;
}

#drink {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#drink td, #drink th {
  border: 1px solid #ddd;
  padding: 8px;
}

#drink tr:nth-child(even){background-color: #f2f2f2;}

#drink tr:hover {background-color: #ddd;}

#drink th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.beeg-button {
  border-width: 0px;
  border-radius: 15px;
  background-color: salmon;
}

.beeg-button:hover {
  background-color:rgb(243, 86, 69);
  color: inherit;
}

.cell {
  border-width: 0px;
  border-radius: 15px;
  background-color: salmon;
}

.cell:hover {
  
}